<app-header></app-header>
<div class="userlist-wrap">
  <div class="head">
    <h2>案件情報</h2>
  </div>
  <div class="search">
    <button type="button" class="btn btn-primary">絞り込み</button>
  </div>
  <div class="userlist">
    <table class="table">
      <th>ID</th>
      <th>案件名</th>
      <th>金額</th>
      <tr>
        <td>1</td>
        <td>あれあれビル　工事</td>
        <td>200,000,000</td>
      </tr>
      <tr>
        <td>1</td>
        <td>これこれビル　修繕工事</td>
        <td>300,000,000</td>
      </tr>
      <tr>
        <td>1</td>
        <td>それそれビル　改修工事</td>
        <td>41,000,000</td>
      </tr>
      <tr>
        <td>1</td>
        <td>田中邸　修繕工事</td>
        <td>2,500,000</td>
      </tr>
    </table>
  </div>
  <div class="add">
    <button type="button" class="btn btn-primary">新規追加</button>
  </div>
</div>
