* {
  color: white;
}

a {
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
}

a:hover {
  opacity: 1;
  color: white;
}

li {
  padding-right: 30px;
}

.header-wrapper {
  background-color: rgb(211, 82, 82);
}
