<div class="login-wrap">
  <div class="login">
    <div class="login-title">
      <h2>Angular</h2>
    </div>
    <div class="login-form">
      <form action="#">
        <table>
          <tr>
            <td><label>メールアドレス</label></td>
            <td><input type="email" name="email"></td>
          </tr>
          <tr>
            <td><label>パスワード</label></td>
            <td><input type="password" name="password"></td>
          </tr>
        </table>
        <button type="submit" class="btn btn-primary">ログイン</button>
      </form>
    </div>
  </div>
</div>
