<app-header></app-header>
<div class="userlist-wrap">
  <div class="head">
    <h2>ユーザ情報</h2>
  </div>
  <div class="search">
    <button type="button" class="btn btn-primary" (click)="openSearchModal()">絞り込み</button>
  </div>
  <div class="userlist">
    <table class="table">
      <th>ID</th>
      <th>名前</th>
      <th>所属</th>
      <th></th>
      <tr *ngFor="let user of userList">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.belong}}</td>
        <td><button type="button" class="btn btn-primary" (click)="openDetailModal(user.id)">詳細</button></td>
      </tr>
    </table>
  </div>
  <div class="add">
    <button type="button" class="btn btn-primary" (click)="openAddModal()">新規追加</button>
  </div>
</div>
