<app-header></app-header>
<div class="userlist-wrap">
  <div class="head">
    <h2>ユーザ情報</h2>
  </div>
  <div class="search">
    <button type="button" class="btn btn-primary" (click)="openModal()">絞り込み</button>
  </div>
  <div class="userlist">
    <table class="table">
      <th>ID</th>
      <th>名前</th>
      <th>所属</th>
      <th></th>
      <tr>
        <td>1</td>
        <td>田中　太郎</td>
        <td>技術部</td>
        <td><button type="button" class="btn btn-primary">詳細</button></td>
      </tr>
      <tr>
        <td>1</td>
        <td>田中　太郎</td>
        <td>技術部</td>
        <td><button type="button" class="btn btn-primary">詳細</button></td>
      </tr>
      <tr>
        <td>1</td>
        <td>田中　太郎</td>
        <td>技術部</td>
        <td><button type="button" class="btn btn-primary">詳細</button></td>
      </tr>
      <tr>
        <td>1</td>
        <td>田中　太郎</td>
        <td>技術部</td>
        <td><button type="button" class="btn btn-primary">詳細</button></td>
      </tr>
      <tr>
        <td>1</td>
        <td>田中　太郎</td>
        <td>技術部</td>
        <td><button type="button" class="btn btn-primary">詳細</button></td>
      </tr>
    </table>
  </div>
  <div class="add">
    <button type="button" class="btn btn-primary">新規追加</button>
  </div>
</div>
