html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
mat-dialog-container#modal-component {
  border: 3px solid rgb(211, 82, 82);
  border-radius: 11px;
  background-color: white;
}
